<div class="container">
    <h2>Note scraper</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Saved Articles</h3>
        </div>
            <div class="panel-body">
                <div id="articles" class="col-xs-12">
                   <ul>
                        {{#each articles}}
                            <li>
                                {{this.title}}
                                <a href="http://www.ufgator.com"{{this.link}}>READ</a>
                                <!--<button class="btn btn-info addNote" data-id="this._id">Add Note</button>-->
                                <a href="#" id="{{this.id}}" aria-hidden="true" data-toggle="modal" data-target="#artNoteModal" type="button" class="btn btn-default" data-whatever="@mdo">Notes</a>
                            </li>
                            <hr>
                        {{/each}}
                    </ul>
                </div>

                <div id="notes" class="col-md-3">
                        <!--{{notes}}-->
                </div>
            </div>
    </div>
</div>

<!-- Add Article Note Modal -->
<div class="modal fade" id="artNoteModal" tabindex="-1" role="dialog" aria-labelledby="artNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" align="center" id="artNoteModalLabel">Note for Article</h3>
            </div>
            <div class="modal-body">

                <div class="notes-form">

                    <form action="/addNote" method="POST" class="create-Note">
                        <input type="hidden" name="articleId" value={{this.id}}>
                        <input type="hidden" name="title" value={{this.title}}>
                        <div class="form-group">
                            <p><label for="body">Type your note here:</label></p>
                            <textarea id="body" name="body" rows="4" cols="40"></textarea>
                        </div>
                        <button type="submit" id="submit" class="btn btn-default btn-md">Add Note!</button>
                    </form>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div> <!-- modal-body -->
        </div> <!-- div modal-content -->
    </div> <!-- div modal-dialog -->
</div>  <!-- div artNoteModal -->